@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@font-face {
    font-family: Chantilly-Serial;
    src: url('../assets/chantilly-serial-bold.ttf') format('truetype');
}
@font-face {
    font-family: Apercu-Light;
    src: url('../assets/Apercu Light.otf') format('truetype');
}

@font-face {
    font-family: Apercu-Regular;
    src: url('../assets/Apercu Regular.otf') format('truetype');
}


html {
    height: 100%;
}

body {
    background: #171c28;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    color: white;
    height: 100%;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

textarea {
    resize: none;
    border: none;
}

textarea {
    resize: none;
    border: none;
    outline: none;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;

}