html {
    height: 100%;
    overflow: hidden;
}

body {
    background: #491E1E;
    color: white;
    height: 98%;
    border: 7px solid white;
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

textarea {
    resize: none;
    border: none;
}

textarea {
    resize: none;
    border: none;
    outline: none;
}