#main-header {
    color: white;
    text-align: center;
    font-family: Calibri, sans-serif;
}

#main-header #title-dot {
    color: #E58181;
}

#main-header h1 {
    margin-top: 6vh;
    margin-bottom: 0;
    font-size: 60px;
    font-family: 'Source Code Pro', monospace;
}

#main-header > p {
    margin-top: -5px;
    font-size: 18px;
}

#main-navbar {
    display: flex;
    justify-content: space-between;
}

#main-navbar #create-link {
    color: #E58181;
}

#main-navbar a {
    color: white;
    font-size: 17px;
    margin: 20px 20px 0 0;
    float: right;
}

#main-navbar img {
    width: 30px;
    height: 30px;
    margin: 20px 0 0 20px;
}