#main-header {
    color: white;
    text-align: center;
}

#main-header #title-dot {
    color: #943131;
}

#main-header h1 {
    margin-top: 14vh;
    margin-bottom: 0;
    font-size: 65px;
    color: #FF5E5E;
}

#main-header > p {
    margin-top: -10px;
    font-size: 17px;
    font-family: 'Apercu-Light', sans-serif;
}

#main-navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Apercu-Light', sans-serif;
}

#main-navbar #create-link {
    color: #FF5E5E;
}

#main-navbar a {
    color: white;
    font-size: 17px;
    margin: 20px 20px 0 0;
    float: right;
}

#main-navbar img {
    width: 30px;
    height: 30px;
    margin: 20px 0 0 20px;
}